
*{
    font-family: 'Urbanist', sans-serif;
    color: #fdfdfd;
    letter-spacing: .07rem;
}

body{
    background-color: #0f0f0f;
}

.lightText {
    font-size: .8em;
    letter-spacing: .08em;
    color: #f3eded;
}

.graphText {
    font-size: .75em;
    color: #fdfdfd;
}

.center {
    margin: auto;
    text-align: center;
}

.container{
    width: 350px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom : 50px;
    position: relative;
}

.row-3-col-2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    max-height: 150px;
    overflow: auto;
    position: relative;
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 50px;
    overflow-y: scroll;
    position: relative;
}

.row span {
    min-width: 85px;
}

.row-5 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.row-5-outer {
    display: flex;
    flex-direction: column;
}

.row-5-inner {
    display: flex;
    flex-direction: row;
}

.notification{
    background-color: #ad1623;
    display: none;
}

.notification p{
    color: #ececec;
    font-size: 1.2em;
    margin: 0;
    padding: 10px 0;
}

.weather-icon{
    margin: auto;
}

.weather-icon img{
    height: 150px;
    display: block;
    margin: 0 auto;
    animation: iconAnimation 10s infinite linear;
}

@keyframes iconAnimation {
    0%  { -webkit-transform: rotate(1deg);  }
    5%  { -webkit-transform: rotate(2deg);  }
    10% { -webkit-transform: rotate(3deg);  }
    15% { -webkit-transform: rotate(4deg);  }
    20% { -webkit-transform: rotate(5deg);  }
    25% { -webkit-transform: rotate(4deg);  }
    30% { -webkit-transform: rotate(3deg);  }
    35% { -webkit-transform: rotate(2deg);  }
    40% { -webkit-transform: rotate(1deg);  }
    45% { -webkit-transform: rotate(0deg);  }
    50% { -webkit-transform: rotate(-1deg); }
    55% { -webkit-transform: rotate(-2deg); } 
    60% { -webkit-transform: rotate(-3deg); } 
    65% { -webkit-transform: rotate(-4deg); } 
    70% { -webkit-transform: rotate(-5deg); } 
    75% { -webkit-transform: rotate(-4deg); } 
    80% { -webkit-transform: rotate(-3deg); } 
    85% { -webkit-transform: rotate(-2deg); } 
    90% { -webkit-transform: rotate(-1deg); } 
    95% { -webkit-transform: rotate(0deg);  } 
    100%{ -webkit-transform: rotate(1deg);  } 
}

@-webkit-keyframes iconAnimation { 
    0%  { -webkit-transform: rotate(1deg); }
    5%  { -webkit-transform: rotate(2deg); }
    10% { -webkit-transform: rotate(3deg); }
    15% { -webkit-transform: rotate(4deg); }
    20% { -webkit-transform: rotate(5deg); }
    25% { -webkit-transform: rotate(4deg); }
    30% { -webkit-transform: rotate(3deg); }
    35% { -webkit-transform: rotate(2deg); }
    40% { -webkit-transform: rotate(1deg); }
    45% { -webkit-transform: rotate(0deg); }
    50% { -webkit-transform: rotate(-1deg); }
    55% { -webkit-transform: rotate(-2deg); } 
    60% { -webkit-transform: rotate(-3deg); } 
    65% { -webkit-transform: rotate(-4deg); } 
    70% { -webkit-transform: rotate(-5deg); } 
    75% { -webkit-transform: rotate(-4deg); } 
    80% { -webkit-transform: rotate(-3deg); } 
    85% { -webkit-transform: rotate(-2deg); } 
    90% { -webkit-transform: rotate(-1deg); } 
    95% { -webkit-transform: rotate(0deg); } 
    100%{ -webkit-transform: rotate(1deg); } 
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    font-size: 4em;
    cursor: pointer;
}

.temperature-value p:hover{
    color: #0c1a4e;
}

.temperature-value span{
    font-size: 0.5em;
}

.temperature-description{
    font-size: 1.3em;
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    font-size: 1.2em;
}

.daily-description p {
    line-height: 1.4em;
    margin: 25px 4% 25px 4%;
}

.location{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.location p{
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
}

/* Air quality bar graph */
.quality-container {
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    height: 30px;
}

.circle {
    background-color: #C4C4C4;
    height: 30px;
    width: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: #fdfdfd .05px solid;
}

.circle.active {
    background-color:#3ac780;
}

.circle.active-fair {
    background-color:#eeb54c;
}

.circle.active-bad {
    background-color:#b6121a;
}